a:link,a:visited,a:hover{
    text-decoration:none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
}
.col-md-10{
    margin-left:135px;
}
.table th,td{
    border:0px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding-left: 140px;
}
.no-collapse {
    padding-left: 0px;
}
.navbar{
    margin-bottom:0px;
}
#line-chart {
    height:300px;
    width:800px;
    margin: 0px auto;
    margin-top: 1em;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
}